@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Bigerside Expanded';
  src: url('/font/BigersideExpanded-7O9Z4 copy.otf') format('opentype');
  font-weight: 651;
  font-style: regular;
}

body {
  font-family: Arial, Helvetica, sans-serif; /* Body text styling */
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Bigerside Expanded', sans-serif; /* Heading text styling */
}
