@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Bigerside Expanded';
  src: url('/font/BigersideExpanded-7O9Z4 copy.otf') format('opentype');
  font-weight: 651;
  font-style: regular;
}

body {
  font-family: 'Bigerside Expanded', sans-serif; 
}
